@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 30px;
    border: 1px solid #e59cff;
    box-shadow: inset 0 0 15.1px #c687ea80;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin: 50px auto 0 auto; 

}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between; 
}

li {
    padding: 10px 15px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Scientific Display', sans-serif;
    color: #fff;
}